@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


body {
  /*	  opacity:0;
  transition:0.5s;*/
  font-family: 'Open Sans', sans-serif;
  /*font-family: Lato, Helvetica, Arial, sans-serif;*/
  font-weight: 400;
  background-color: #f8f9fa !important;
  font-size: 16px;
  line-height: 1.2;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}


/* Load Screen */

.load-screen {
  position: fixed;
  z-index: 10200;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(images/acates-media-1.jpg);
  /*	background-color:black;*/
  background-size: cover;
  text-align: center;
  opacity: 1;
}

.load-screen button {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1%;
}


/*other logo option*/

/*.load-logo {
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
        max-width: 10%;
    min-width: 100px;
     animation: bounce .5s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}


@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}*/

p,
div,
span,
img {
  -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
  transition: 1s ease-out;
}

.am-cube {
  position: relative;
  z-index: 11;
  margin: 30% auto 0;
  width: 10%;
  transition: transform 2s linear;
  transform-style: preserve-3d;
  animation: spin 40s infinite linear;
  animation-direction: alternate;
}
.projects-cube {
  position: relative;
  z-index: 11;
  margin: 30% auto 0;
  width: 100%;
  transition: transform 2s linear;
  transform-style: preserve-3d;
/*   animation: spin 40s infinite linear;
  animation-direction: alternate; */
}
.am-cube div, .projects-cube div {
  position: absolute;
  /*max-width: 100vh;*/
  transition: 0.6s linear;
}

.am-cube img, .projects-cube img {
  /*	width: 37.9vmin;
    height: 37.9vmin;*/
  -moz-user-select: none;
  -webkit-user-select: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  user-drag: none;
}

.am-cube .cube-side-1 {
  transform: rotateX(90deg) translateZ(50px);
}

.am-cube .cube-side-2 {
  transform: translateZ(50px);
}

.am-cube .cube-side-3 {
  transform: rotateY(90deg) translateZ(50px);
}

.am-cube .cube-side-4 {
  transform: rotateY(180deg) translateZ(50px);
}

.am-cube .cube-side-5 {
  transform: rotateY(-90deg) translateZ(50px);
}

.am-cube .cube-side-6 {
  transform: rotateX(-90deg) rotate(180deg) translateZ(50px);
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }

  16% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(0deg);
  }

  33% {
    transform: rotateX(360deg) rotateY(90deg) rotateZ(180deg);
  }

  50% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }

  66% {
    transform: rotateX(180deg) rotateY(360deg) rotateZ(270deg);
  }

  83% {
    transform: rotateX(270deg) rotateY(180deg) rotateZ(180deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

.too-small,
.dude {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 200%;
  z-index: 11;
  top: 0;
  bottom: 0;
  display: none;
}

.wrap {
  max-width: 1600px;
  margin: 0 auto;
}

.mobile-view {
  display: none;
}

.amc-center {
  margin: 0 auto;
}

.amc-fl {
  float: left;
}

.amc-fr {
  float: right;
}

.am-container {
  max-width: 1800px;
  width: 100%;

}

.am-img {
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 100%;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;

}

/* img:hover {
  transform: perspective(500px) translateZ(-50px);
	transition: .5s ease-in;
}*/

/* img:not(:hover) {
  	transform: perspective(0) translateZ(0);
	transition: .5s ease-out;
}*/

p {
  margin-bottom: .5em;
}

h2 {
  color: #000;
  /*	border-bottom: 1px solid #101010;*/
}

.a2:hover {
  color: #ab1820 !important;
  text-decoration: none !important;
}

a:active,
a:hover {
  text-decoration: none !important;
}

.slide-clicked {
  display: inline-block;
  position: relative;
  width: 100%;
}

.slide-clicked:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-blend-mode: hard-light;
  animation: static 5s infinite;
  z-index: 5000;
}

@keyframes static {
  0% {
    background-color: blue;
    background-image: url("images/static1.gif");
    transform: translateY(-15px);
  }

  49% {
    background-color: transparent;
    transform: translateY(0);
  }

  50% {
    background-color: blue;
    background-image: url("images/static1.gif");
    transform: translateY(-15px);
  }

  99% {
    background-color: transparent;
    transform: translateY(0);
  }

  100% {
    background-color: transparent;
    transform: translateY(-15px);
  }
}

.slide-hover {
  background-image: url("images/dev-logo.gif");
  /* display: inline-block;
  position: relative;
  width:100%; */
  /* background-image: url("images/static1.gif");
  transition: 0.7s ease-in-out;
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
  /* -webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
top: 0;
left: 0;
bottom: 0;
right: 0;
position: absolute;
z-index: -1;  */
}

/* .slide-hover:after {
  content: '';
  position: absolute;
  top: 0; right: 0;
  bottom: 0; left: 0;
	background-size: contain;
background-blend-mode: hard-light;
    animation:staticHover 15s infinite;
    clip-path: inset(10px 20px 30px 40px);
}
@keyframes staticHover {
	0%{	 background-color: black; background-image: url("images/static1.gif");transform: translateY(-15px);}
	49%{	background-color: transparent; transform: translateY(0);}
	50%{	background-color: black;	transform: translateY(-15px);}
	99%{	background-color: transparent; transform: translateY(0);}
	100%{	background-color: transparent;	transform: translateY(-15px);}
} */
.logo {
  /* position: absolute;*/
  padding: 2%;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 41px;
  color: #cfc1c0;
}

.container>.navbar-header {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.navbar-nav>li>a {
  font-size: 14px;
  font-weight: 700;
  padding: 8px 0;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
}


body {
  padding: 0;
  margin: 0;

  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #DDD;
}

.navbar {
  border-bottom: 1px solid #BBBBBB;
}

/* .header {
     width: 100%;
    min-height: 200px;
    height: 100%;
    display: inline-grid;
    position: relative;
    font-family: 'Rubik Mono One', sans-serif;
    padding: 50px;
    font-size: 41px;
    background-color: #eee;
    color: #ce2029;
    background-repeat: no-repeat;
    background-position: 0 -1200px;
    user-select: none;
} */

.container {
  padding: 0 !important
}

/*.menu-back {
     max-width: 1600px;
  width: 100%;
  height: 52px;
  position: absolute;
  background: url("images/bg.png");
  draggable: false;
  background-color: #2a2730;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
  user-select: none;
}*/

/* .body-top {
  max-width: 1600px;
  height: 200px;
  width: 100%;
  margin-top: 410px;
  position: absolute;
  background-color: #101010;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;
} */

.video-container:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  background: #000000a8;
}

.video-container {
  /*    width: 100%;
    max-height: 600px;*/
  overflow: hidden;
  position: relative;
}

video {
  display: block;
  width: 100%;
  /*height: 44vw;*/
  /* width: 50vw; */
  /*   object-fit: cover;*/
  /* object-position: top; */

}

.video-bg {}

.video-bg-fs {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.pattern-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  bottom: 0;
  background-image: url("images/bg-texture.png");
  /*z-index: 1;*/
}

article h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 3rem;
  letter-spacing: 3px;
  color: #fff !important;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  z-index: 1;

}

.btn {
  /*   font-size: 2rem;*/
  letter-spacing: 3px;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-slide {
  background-color: transparent;
  margin-top: 2%;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s !important;
  border-radius: 0 !important;
}

.amc-btn-light {
  color: #fff;
  border: 1px solid #fff !important;
  box-shadow: inset 0 0 0 0 #fff;
}

.amc-btn-dark {
  color: #000;
  border: 1px solid #000 !important;
  box-shadow: inset 0 0 0 0 #000;
}

.amc-btn-light:hover {
  box-shadow: inset 0 100px 0 0 #fff;
  color: #000;

}

.amc-btn-dark:hover {
  box-shadow: inset 0 100px 0 0.01px #000;
  color: #fff;

}

.jumbotron {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  background-color: #fff;
}

.bottom-image {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  max-width: 1600px;
  padding-top: 5% !important;
  padding-bottom: 5% !important;
  margin: 0 auto;
}

.bottom-image div {
  text-align: center;
  color: #101010;
  /*	color: #fff;*/
  font-family: 'Oswald', sans-serif;
  font-size: 35px;
  margin-bottom: 2%;
  /* background-color: black; */
  /* display: inline; */
}

.overlay {
  background-color: #ffffff7a !important;
  background-blend-mode: overlay;
}

.amc-slides {
  display: none;
  background-repeat: no-repeat;
  background-size: cover;
  /*   background-position: 0 -80px;*/
  border-radius: 0 !important;
  padding-top: 10% !important;
  padding-bottom: 25% !important;
  background-position: center;
  min-height: 300px;
  max-height: 537.5px;
  /*	position:relative;
	    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; */
}


/* Fading animation */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.carousel-control {
  width: 0 !important;
}

.carousel-control.right,
.carousel-control.left {
  background-image: none !important;
  color: #000 !important;
}

.btn-primary {
  color: #fff !important;
  background-color: #000 !important;
  border-color: #6b1318 !important;
}

.half-01 {
  float: left;
  width: 35%;
  height: 100%;
  /* padding-top: 30px; */
  padding-left: 10px;
  padding-right: 5px;
  background-color: white;
  z-index: 1;
  position: relative;
}

.half-01-img:hover {
  opacity: .7;
  background: transparent;
}

/*.checkbox label {
     padding-left: 0 !important; 
}*/

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
  margin-left: 0 !important;
}

.testimonials {
  text-align: center;
}

.bg-primary {
  color: #fff !important;
  background-color: #000 !important;
  padding: 10px;
}

.breadcrumb {
  margin-top: 10px;
  margin-bottom: 0 !important;
}

ul.breadcrumb li a {
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 900;
  color: #D6D6D6 !important;
  text-decoration: none !important;
}

ul.breadcrumb li a:hover {
  color: darkgray !important;
  text-decoration: none !important;
}

.merge {
  width: 100%;
  height: 400px;
  max-height: 500px;
  position: relative;
  background-color: white;
}

.half-02 {
  width: 60%;
  float: right;
  background-color: white;
  padding: 5px;

}

h1 {
  color: #000;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1.3em;
  margin-bottom: .2em;
  clear: both;
  padding: 0 3px;
  text-align: left;
}

h3 {
  margin-top: 60px !important;
  font-size: 15px !important;
  font-weight: bold !important;
}

/* Myspace Section */

.myspace * {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  line-height: 1.8;
  color: #000;
  letter-spacing: -0.19px;

}

.myspace {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.myspace :not.page {
  display: inline-block;
}

.half-02 h1,
.half-02 h1 span {
  background-color: #ffcd93
}

.half-02 h1,
.half-02 h1 span,
.half-02 h2 {
  color: #dc771c;
}

.myspace nav,
#myspace-nav {
  font-family: Arial Rounded MT !important;
  background-color: #3e5eab;
  color: #fff !important;
  /*   display:block;  */
  padding: .5% 0 0 0;

}

.myspace nav img {
  width: 20%;
  padding: 0 2% 0 2%;
}

.myspace nav a {
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 0 2% 0 2%;
  color: #fff !important;
  text-transform: none;
}

.myspace nav a span {
  font-family: Arial Rounded MT !important;
  font-size: 14px;
  position: absolute;
  bottom: 50%;
  padding-left: .25%;
  color: #fff !important;

}

.myspace nav {
  margin-bottom: 48px;
}

.myspace nav ul {
  *zoom: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgb(34, 111, 199);
  /*   background: linear-gradient(180deg, rgba(34,111,199,1) 0%, rgba(28,103,186,1) 35%, rgba(21,78,145,1) 100%); */
  background: linear-gradient(180deg, rgb(72, 108, 193) 0%, rgb(62, 94, 171) 35%, rgb(52, 78, 143) 100%);
  margin-top: 1% !important;

}

.myspace nav ul:before,
.myspace nav ul:after {
  content: "";
  display: table;
}

.myspace nav ul:after {
  clear: both;
}

.myspace nav ul>li {
  float: left;
  position: relative;
}

#myspace-nav>ul>li>a {
  display: block;
  padding: 10px 20px;
  line-height: 1.2em;
  color: #fff;
  border-left: 1px inset #59595924;
  /*   box-shadow: 0px -2px #5089d0; */
  box-shadow: 0px -2px #4a6fc8;
  transition: 0.5s ease-in-out;
}

.myspace nav i {
  color: white;
}

#myspace-nav>ul>li>a:hover {
  text-decoration: none;
  background: #3e5eab;
}

.myspace nav li ul {
  background: #ffffff;
}

.myspace nav li ul li {
  width: 200px;
}

.myspace nav li ul a {
  border: none;
}

.myspace nav li ul a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.myspace .dropdown-menu .dropdown-item {
  color: black !important;
  font-size: 12px;
}

#myspace-nav>ul>li>a {
  font-size: 11px;
  /* font-family: Arial Rounded MT !important; */
  font-family: 'Varela Round', sans-serif;
}

#myspace-nav>ul>li>a:hover::before {
  border: none;
  width: 0;
}

.myspace.blue-bg {
  background-color: #155abb;
}

.myspace .search {
  width: 20%;
  position: absolute;
  right: 0.5%;
  top: 8%;
}

.myspace .search input,
.myspace .search button {
  /*   font-size: 1em;
  padding: .1rem .2rem; */
  text-transform: none;
}

.myspace h1,
.myspace h1 span,
.myspace h2,
.extended-net,
.extended-net span {
  /*   font-family: Arial Rounded MT, Arial, Helvetica, sans-serif; */
  text-transform: none;
  font-weight: 900;
  margin-bottom: 2%;
}

.extended-net,
.extended-net span {
  font-size: 17px;
}

.myspace h1,
.myspace h1 span {
  font-size: 14px;
}

.myspace h2 {
  font-size: 14px;
}

.myspace .about-me h1,
.myspace .about-me h1 span {
  font-size: 17px;
}


.myspace a,
.myspace .blog a {
  font-size: 11px;
  color: #13458f;
  font-weight: bolder;
}

.about-me {
  display: inline-block;
  cursor: default;
}

.myspace .about-me img {
  width: 70%;
  padding: 2%;
  padding-top: 5%;
  padding-bottom: 15%;
}

.about-me h1 {
  font-size: 1.4em;
  font-weight: 900;
}

.about-me .icon {
  font-size: 20px;
}

.online-now {
  font-size: 10px;
  color: #68a751;
  font-weight: bold;
}

.online-now i {
  color: #f4771a;
}


.extended-net {
  border: 2px solid black;
  width: 100%;
  padding: 5%;
  margin-bottom: 5%;
  text-align: center;
}

.myspace .blog {
  font-weight: bold;
  margin-bottom: 5%;
}

.myspace .contact-table {
  display: inline-block;
  width: 100%;
  margin-top: 5%;
  border: 1px rgb(181, 182, 187) solid;
  box-shadow: 0px -0.5px 0.5px rgb(155, 181, 210), 0px 1px 0.5px rgb(112, 137, 162);
  /* 	-moz-box-shadow: 0px -1px 1px rgb(155, 181, 210), 0px 1px 1px rgb(112, 137, 162);
	-webkit-box-shadow: 0px -1px 1px rgb(155, 181, 210), 0px 1px 1px rgb(112, 137, 162);
	-o-box-shadow: 0px -1px 1px rgb(155, 181, 210), 0px 1px 1px rgb(112, 137, 162); */
}

.myspace .contact-table h1,
.myspace .details-table h1 {
  border-bottom: 0.1px rgba(255, 255, 255, 0) inset;
  box-shadow: -1px 0px 1px rgb(193, 215, 241), 0px 2px 1px rgb(112, 137, 162);
  /* 	-moz-box-shadow: 0px -1px 1px rgb(155, 181, 210), 0px 1px 1px rgb(112, 137, 162);
	-webkit-box-shadow: 0px -1px 1px rgb(155, 181, 210), 0px 1px 1px rgb(112, 137, 162);
	-o-box-shadow: 0px -1px 1px rgb(155, 181, 210), 0px 1px 1px rgb(112, 137, 162); */
}

.myspace .contact-table p {
  margin-bottom: 0;
}

.myspace .contact-table a {
  font-size: 11px;
  letter-spacing: -0.2px;
}

.myspace .contact-table a i {
  font-size: 13px;
}

.myspace .contact-table div {
  padding-bottom: 2%;
}

.myspace .contact-table div p {
  margin-top: 5%;
  text-align: left;
}

.myspace .contact-table img {
  width: 17%;
  padding: 2%;
}

.myspace .url {
  border: 1px solid black;
  width: 100%;
  padding: 1%;
  margin-top: 5%;
  margin-bottom: 5%;
  /* text-align: center; */
}

.myspace .music-player {
  text-align: center;
}

.myspace .details-table,
.details-table h1,
.details-table h1 span,
.myspace .contact-table h1,
.myspace .contact-table h1 span {
  background-color: #6399d2;
  color: white;
  font-size: 14px;
}

.myspace .details-table {
  margin-top: 5%;
  clear: both;
}

.myspace .details-table .s1 ul,
.myspace .details-table .s2 ul {
  list-style-type: none;
  padding-inline-start: 0;
}

.myspace .details-table .s1 ul li {
  background-color: #afd1f3;
  color: #49709b;
  font-weight: bold;
  margin: 1%;
  padding: 0 1% 0 1%;

}

.myspace .details-table .s2 ul li {
  background-color: #d9e9f5;
  margin: 1%;
  padding: 0 1% 0 1%;
}

.myspace .details-table .s1 {
  width: 49.9%;
  float: left;
}

.myspace .details-table .s2 {
  /*   display: inline-block; */
  width: 49.9%;
  float: right;
}


.friend-space {
  margin-bottom: 5%;
  text-align: center;
}

.top-8 {
  width: 20%;
  display: inline-block;
  margin: 1%;
  text-align: center;
}

.top-8 p {
  margin: 0 !important;
  padding: 2%;
  padding-bottom: 1%;
}

.top-8 img {
  width: 100%;
  display: inline-block;
  margin-bottom: 10%;
}

figure {
  display: table;
}

figcaption {
  display: table-caption;
  caption-side: top;
  text-align: center;
}

.myspace .top-8 img {
  /*   width: 24%; */
  padding: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  max-width: 180px;
  transition: 0.5s ease-in-out;
}

.myspace .comments {
  text-align: left;
  width: 60%;
  float: left;
}

/* end MySpace */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#animate {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url('images/cat.png');
  width: 10%;
  height: 20%;
  background-size: contain;
  background-repeat: no-repeat;
  z-index:1111;
  transition: 1.5s ease-in-out;


}


.animated {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
  animation: 10s linear 0s slide 1;

}

@keyframes slide {
  0% { 


  right: 0;
 }
  100% {
    right: 100%;

/*     transform: translateX(-100%);
    background: blue; */
  }

}
.cat-icon btn {
  text-align: center;

}
.cat-icon:hover {
  box-shadow: inset 0 300px 0 0.01px #000;
}
.cat-icon {
  background-image: url('images/cat.png');  
  background-position:center;
  /* width: 100%; */
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
  padding: 3% !important;
}
/* .cat-swing {
  background-image: url(images/cat.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: center;
} */
.page-footer {

  clear: both;
}

.footer {
  width: 100%;
  min-height: 200px;
  display: flex;
  color: #99979c !important;
  text-align: left;
  background-color: #101010;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 0px 0px 10px #000;
  -webkit-box-shadow: 0px 0px 10px #000;
  -moz-box-shadow: 0px 0px 10px #000;


}

.footer a {
  color: #99979c !important;
  text-decoration: none !important;
}

.footer a:hover {
  color: #fff !important;
}

.footer-title {
  font-size: 14px;
  font-weight: bold;
}

.footer-text {
  margin-bottom: 10px;
}

.dev-logo img {
  width: 100%;
  max-width: 200px;
  min-width: 100px;
  cursor: pointer;
}

/*Projects*/


.bigger {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
  padding: 1.8%;
  /*padding: 20px;*/
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}

.text-wrap {
  max-width: 600px;
  margin: 0 auto;
}

.text {
  max-width: 600px;
  width: 100%;
  line-height: 24px;
  text-align: left;
  color: #404040;
  padding: 20px;
  /*    padding-left: 15%;
    padding-right: 15%;*/
}

.project-img {
  width: 100%;
  /*padding: 1.8%;*/
}

.project-img img {
  width: 100%;
  max-width: 700px;
  padding: 1%;
}

.has-animation {
  position: relative;
  /*text-align:center;*/
}

.has-animation p,
.has-animation img {
  opacity: 0;
}

.has-animation.animate-in p,
.has-animation.animate-in img {
  animation: textHidden 0.1s 1.1s forwards;
}

.has-animation.animate-in:before,
.has-animation.animate-in:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

.has-animation.animate-in:before {
  background-color: #eee;
}

.has-animation.animate-in:after {
  background-color: #000;
  animation-delay: .5s;
}

.has-animation.animation-ltr.animate-in:before {
  animation: revealLTR 1.8s ease;
}

.has-animation.animation-ltr.animate-in:after {
  animation: revealLTR 1s .6s ease;
}

.has-animation.animation-rtl.animate-in:before {
  animation: revealRTL 1.8s ease;
}

.has-animation.animation-rtl.animate-in:after {
  animation: revealRTL 1s .6s ease;
}

@keyframes revealRTL {
  0% {
    width: 0;
    right: 0;
  }

  65% {
    width: 100%;
    right: 0;
  }

  100% {
    width: 0;
    right: 100%;
  }
}

@keyframes revealLTR {
  0% {
    width: 0;
    left: 0;
  }

  65% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes textHidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*SERVICES*/
.services {
  padding: 1% 0;
}

.services h2 {
  color: #2d2d2d;
  font-size: 2em;
  margin-bottom: 50px;
}

.services .services-container {
  display: inline-block;
  width: 100%;
  /*max-width: 1000px;*/
  margin: auto;
}

.services .services-container .service {
  position: relative;
  display: block;
  float: left;
  width: 30%;
  margin-left: 1.6666%;
  margin-right: 1.6666%;
  padding: 20px;
  opacity: 0;
}

.services .services-container .service .logo {
  /*  background: #000111;
  background: -moz-linear-gradient(-45deg, #000111 0%, #380047 100%);
  background: -webkit-linear-gradient(-45deg, #000111 0%, #380047 100%);
  background: linear-gradient(135deg, #000111 0%, #380047 100%);
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 1.8em;*/
  background: #000111;
  background: -moz-linear-gradient(-45deg, #000111 0%, #380047 100%);
  background: -webkit-linear-gradient(-45deg, #000111 0%, #380047 100%);
  background: linear-gradient(135deg, #000111 0%, #380047 100%);
  margin: auto;
  margin-bottom: 40px;
  text-align: center;
  /*    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);*/
  font-size: 1.8em;
  max-width: 500px;
}

.services img {
  width: 100%;
}

.services .services-container .service .logo i {
  color: #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.services .services-container .service h3 {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}

.services .services-container .service p {
  color: #4d4d4d;
  text-align: justify;
}


/*MEDIA QUERIES*/

@media (max-width: 1360px) {
  .myspace .search {
    width: 30%;
  }
}

@media (max-width: 1156px) {

  .myspace .about-me span {
    display: inherit;
  }

  .myspace .about-me p:nth-child(3),
  .myspace .about-me span:nth-child(3) {
    display: block;
  }

}

@media (max-width: 1100px) {

  .about-me {
    display: block;
    text-align: center;

  }

  .myspace .about-me img:first-child {
    width: 100%;
    padding: 20%;
    padding-top: 0;
    padding-bottom: 5%;
  }

  .myspace .about-me img {
    width: 28%;
    padding: 0;
    padding-bottom: 5%;

  }

  .myspace .about-me span {
    float: none !important;
    display: unset;
  }

  /*    .myspace .about-me p:nth-child(3) {
    display: unset;
  }  */

}

@media (max-width: 991px) {

  .has-animation,
  .project-img img {
    width: 100%;
    text-align: center;
  }

  .service {
    width: 100% !important;
    transition: 0.5s ease-in;
  }

  .amc-slides {
    background-position: 0 0;
  }

  .slide-h1 {
    font-size: 35px;
  }

  .myspace .search {
    position: relative;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
  }

  .myspace nav {
    padding: 2%;
  }

  #myspace-nav {
    padding: 0;
  }

}

@media (min-width: 992px) {
  .nav-link {
    position: relative;

  }

  .nav-link:hover {
    opacity: 1;
  }

  .nav-link::before {
    transition: 300ms;
    height: 8%;
    content: "";
    position: absolute;
    background-color: #000;
    width: 0%;
    bottom: 9%;
  }


  .nav-link:hover::before {
    width: 80%;
  }

  .myspace nav,
  #myspace-nav {
    display: block;
  }
}


@media (max-width: 956px) {
  .logo-font {
    font-size: 25px;
  }

  .jumbotron p {
    margin-bottom: 10px !important;
  }

  .amc-slides {
    margin-bottom: 0 !important;
    padding-right: 25px !important;
    padding-left: 25px !important;
  }

  .slide-h1 {
    font-size: 30px;
  }

  h1:not .myspace {
    font-size: 30px !important;
  }

  h2:not .myspace {
    font-size: 26px !important;
  }

  .pg-img {
    padding-left: 0;
  }

  .pg-img img {
    margin: 0 auto;
    padding: 8px 2px;
    float: none;
    text-align: center;
  }

  .myspace .navbar-toggler-icon {
    padding: 0.5%;
  }


  .half-01 {
    width: 100%;
  }

  .half-02 {
    width: 100%;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }

  .myspace .about-me img {
    width: 10%;
  }

  .myspace .about-me img:first-child {
    width: 30%;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 5%;
  }

  .img-wrap {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .myspace .about-me img {
    width: 15%;
  }

}

@media (max-width: 674px) {
  .myspace .contact-table div {
    padding: 2% !important;
  }

  .myspace .contact-table div {
    margin: 0 !important;
  }

}

@media (max-width: 588px) {
  .jumbotron p {
    margin-bottom: 5px !important;
  }

  .amc-slides {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  .services-h1 {
    font-size: 5vw;
  }

  .myspace .comments {

    width: auto;
  }
}

@media (max-width: 530px) {
  .pg-img1 {
    width: 100%;
    float: none;
    margin-bottom: 5%
  }

  .img-wrap {
    width: 100%;
  }

  .myspace .about-me img {
    width: 20%;
  }
}

@media (max-width: 400px) {
  .navbar-header {
    padding-top: 5% !important;
  }

  .logo-font {
    font-size: 20px;
  }

  .amc-slides {
    background-position: center;
  }

  .slider-btn {
    font-size: 12px !important;
  }

  .bottom-image {
    display: none;
  }
}

@media (max-width: 300px) {
  .slide-h1 {
    font-size: 20px
  }
}

/* Max Width 748 */

@media only screen and (max-width: 850px) {
  .am-cube .cube-side-1 {
    transform: rotateX(90deg) translateZ(20px) scale(.6);
  }

  .am-cube .cube-side-2 {
    transform: translateZ(20px) scale(.6);
  }

  .am-cube .cube-side-3 {
    transform: rotateY(90deg) translateZ(20px) scale(.6);
  }

  .am-cube .cube-side-4 {
    transform: rotateY(180deg) translateZ(20px) scale(.6);
  }

  .am-cube .cube-side-5 {
    transform: rotateY(-90deg) translateZ(20px) scale(.6);
  }

  .am-cube .cube-side-6 {
    transform: rotateX(-90deg) rotate(180deg) translateZ(20px) scale(.6);
  }
}

/* Max Width 748 */

@media only screen and (max-width: 748px) {
  .am-cube {
    margin: 45% auto 0;
    width: auto;
    height: 50px;
  }

  .am-cube .cube-side-1 {
    transform: rotateX(90deg) translateZ(20px) scale(.5);
  }

  .am-cube .cube-side-2 {
    transform: translateZ(20px) scale(.5);
  }

  .am-cube .cube-side-3 {
    transform: rotateY(90deg) translateZ(20px) scale(.5);
  }

  .am-cube .cube-side-4 {
    transform: rotateY(180deg) translateZ(20px) scale(.5);
  }

  .am-cube .cube-side-5 {
    transform: rotateY(-90deg) translateZ(20px) scale(.5);
  }

  .am-cube .cube-side-6 {
    transform: rotateX(-90deg) rotate(180deg) translateZ(20px) scale(.5);
  }
}

/* Max Width 565 */

@media only screen and (max-width: 565px) {
  .am-cube .cube-side-1 {
    transform: rotateX(90deg) translateZ(20px) scale(.3);
  }

  .am-cube .cube-side-2 {
    transform: translateZ(20px) scale(.3);
  }

  .am-cube .cube-side-3 {
    transform: rotateY(90deg) translateZ(20px) scale(.3);
  }

  .am-cube .cube-side-4 {
    transform: rotateY(180deg) translateZ(20px) scale(.3);
  }

  .am-cube .cube-side-5 {
    transform: rotateY(-90deg) translateZ(20px) scale(.3);
  }

  .am-cube .cube-side-6 {
    transform: rotateX(-90deg) rotate(180deg) translateZ(20px) scale(.3);
  }

  .resetbtn {
    font-size: 20px !important;
  }
}


@media only screen and (max-width: 351px) {}

/* Max Width 300 */

@media only screen and (max-width: 300px) {
  .am-cube .cube-side-1 {
    transform: rotateX(90deg) translateZ(10px) scale(.2);
  }

  .am-cube .cube-side-2 {
    transform: translateZ(10px) scale(.2);
  }

  .am-cube .cube-side-3 {
    transform: rotateY(90deg) translateZ(10px) scale(.2);
  }

  .am-cube .cube-side-4 {
    transform: rotateY(180deg) translateZ(10px) scale(.2);
  }

  .am-cube .cube-side-5 {
    transform: rotateY(-90deg) translateZ(10px) scale(.2);
  }

  .am-cube .cube-side-6 {
    transform: rotateX(-90deg) rotate(180deg) translateZ(10px) scale(.2);
  }

  /* .resetbtn {
    font-size: 8px !important;
  }*/
}

@media only screen and (max-width:349px) {
  .too-small {
    display: block;
  }

  .too-small h1 {
    position: absolute;
    z-index: 11;
  }

  .too-small div {
    margin-top: 50%;
  }
}

@media only screen and (max-width:200px) {

  /*     .too-small {
    display: none;
        } */
  .dude {
    display: block;
  }

}
